:root{
  --main: #fff;
  --link: #8D4FDB;  
  --archiv: #F1F1F1;
  --subtitle: #A9AFB3;
  --footer-text: #8B8B8B;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

button,
input {
  font-family: inherit;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;

}


.back {
  background: url(/image/background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: relative;
}
.back:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.container-one{
  width: 800px;
  margin: 0 auto;
  padding-bottom: 99px;
  
  position: relative;
  z-index: 3;
}
.header {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px
}
.logo {
  margin-bottom: 52px;
}
.logo-img {
}
.menu {
  display: flex;
  width: 568px;
  justify-content: space-between;
}
.menu-item:hover{
  box-sizing: content-box;
  border-bottom: 2px solid var(--main);
}
.menu-item {
  cursor: pointer;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: var(--main);

  padding-top: 12px;
  padding-bottom: 14px;
}
.main {
}
.section {
}
.article-container {
}
.article-li {
}
.article-list {
}
.article-list-item {
  background-color: white;
}
.article-list-item-container {
  height: 330px;
  border-top: 1px solid rgb(255, 255, 255) ; 

  position: relative;
}
.article-one{
  background: url(/image/IMAGE\ \(1\)\ 1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.article-two{
  background: url(/image/IMAGE\ \(2\)\ 1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.article-three{
  background: url(/image/IMAGE\ \(3\)\ 1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container-label {
  position: relative;
}
.container-label-text {
  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 8px;
  line-height: 24px;

  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main);

  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 1px 10px 0px 10px;
  height: 25px;

}
.article-list-cont{
  position: absolute;
  left: 60px;
  bottom: 40px;
}
.article-list-item-author{
  display: flex;
  column-gap: 14px;
  margin-bottom: 20px;
}
.article-list-item-author>img{
  border-radius: 4px;
  height: 40px;
}
.author-info {
}
.author-info-name {
  line-height: 19px;
  color: var(--main);
}
.author-info-date {
  font-family: 'Lato';
  font-size: 13px;
  line-height: 19px;
  color: var(--main);
}
.article-list-item-head {
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  color: var(--main);
}
.article-list-item-continue {
  padding: 36px 76px 44px 60px;
}
.article-list-item-text {
}
.article-list-item-link {
  font-family: 'Lato';
  font-style: normal;
  font-size: 17px;
  line-height: 30px;

  color: var(--link)
}
.archive {
  height: 211px;
  background-color: var(--archiv);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.archive-text {
  font-size: 30px;
  line-height: 36px;
}
.archive-button {
  margin-top: 21px  ;
  padding: 8px 25px 7px 25px;
  background-color: var(--link);
  border: none;

  font-size: 10px;
  line-height: 30px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;

  cursor: pointer;

  color: var(--main);
}
.stories {
  margin-top: 85px;
}
.stories-cont{
  text-align: center;
}
.stories-header {
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
.stories-text {
  font-family: 'Lato';
  font-size: 23px;
  line-height: 33px;
  color: var(--subtitle);

  margin-bottom: 56px;
}
.stories-list {
  display: flex;
  column-gap: 20px;
  width: 940px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  margin-bottom: 56px;
}
.stories-list-item {
}
.stories-list-item-container {
  width: 300px;
  height: 190px;
  border-radius: 3px;

  margin-bottom: 23px;

  position: relative;
}

.stories-list-item-author>.author-info>.author-info-name{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.stories-list-item-author>.author-info>.author-info-date{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.stories-one{
  background: url(/image/IMAGE\ \(1\)\ 2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.stories-two{
  background: url(/image/IMAGE\ \(2\)\ 2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.stories-three{
  background: url(/image/IMAGE\ \(3\)\ 2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.stories-list-item-author {
  position: absolute;
  left: 24px;
  bottom: 24px;
  display: flex;
  column-gap: 8px;
}
.stories-list-item-author>img{
  border-radius: 4px;
  height: 35px;
}
.stories-list-item-text {
}
.stories-text-anchor {
  text-align: center;
  
  font-family: 'Lato';
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;

  margin-bottom: 90px;
}
.footer {
  background-color: black;
  height: 166px;


  font-family: 'Lato';
  font-size: 14px;
  line-height: 28px;
  color: var(--footer-text);
  text-align: center;

  padding-top: 55px;
  padding-bottom: 45px;
}
.footer-text-list{
  display: flex;
  justify-content: center;
}
.footer-text-f {
}
.footer-text-s {
  margin-right: 10px;
}
.footer-text-t {
}
.link{
  color: var(--link);
  cursor: pointer;
  text-decoration: none;
}