:root{
  --main: #fff;
  --link: #8D4FDB;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

button,
input {
  font-family: inherit;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;

}


.back {
  background: url(/image/background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container-one{
  width: 800px;
  margin: 0 auto;
}
.header {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px
}
.logo {
  margin-bottom: 52px;
}
.logo-img {
}
.menu {
  display: flex;
  width: 568px;
  justify-content: space-between;
}
.menu-item {
  cursor: pointer;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: var(--main)
}
.main {
}
.section {
}
.article-container {
}
.article-li {
}
.article-list {
}
.article-list-item {
  background-color: white;
}
.article-list-item-container {
  height: 330px;
}
.article-one{
  background: url(/image/IMAGE\ \(1\)\ 1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.article-two{
  background: url(/image/IMAGE\ \(2\)\ 1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.article-three{
  background: url(/image/IMAGE\ \(3\)\ 1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container-label {
}
.container-label-text {
}
.article-list-item-author {
}
.author-info {
}
.author-info-name {
}
.author-info-date {
}
.article-list-item-head {
}
.article-list-item-continue {
  padding: 36px 76px 44px 60px;
}
.article-list-item-text {
}
.article-list-item-link {
  font-family: 'Lato';
  font-style: normal;
  font-size: 17px;
  line-height: 30px;

  color: var(--link)
}
.archive {
}
.archive-text {
}
.archive-button {
}
.stories {
}
.stories-header {
}
.stories-text {
}
.stories-list {
}
.stories-list-item {
}
.stories-list-item-container {
}
.stories-one{
  background: url(/image/IMAGE\ \(1\)\ 2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.stories-two{
  background: url(/image/IMAGE\ \(2\)\ 2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.stories-three{
  background: url(/image/IMAGE\ \(3\)\ 2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.stories-list-item-author {
}
.stories-list-item-text {
}
.stories-text-anchor {
}
.footer {
}
.footer-text-f {
}
.footer-text-s {
}
.footer-text-t {
}